@use '../components/global';
@use '../components/navbar';
@use '../components/searchbar';
@use '../base/variables' as *; 
@use '../base/mixins' as *; 

.home-title{
    text-align: center;
    margin-bottom: 3rem;

}

.cards-container{
    max-width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 4rem;
    place-items: center;
    margin-bottom: 2rem;
    
    @include desktop() {
        width: 65vw;
    }
   
    @include tablet() {
        max-width: 80vw;
    }
}

.news-card{
    width: 100%;
    height: 100%;
    min-height: 43rem;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);


    &__image{
        width: 100%;
        max-height: 21rem;
        height: 50%;
        border-radius: 1rem 1rem 0rem 0rem;
        overflow: hidden;

        img{
            width: 100%;
            height: auto;
            margin: auto;
        }
    }

    &__info-container{
        width: 100%;
        height: 50%;
        padding: 2rem 1rem;
        border-radius: 0rem 0rem 1rem 1rem;
    }

    &__title{
        width: 100%;
        font-weight: 500;
        font-size: 1.7rem;
    }

    &__link{
        font-size: 1.4rem;
        float: right;
        padding-bottom: 1rem;
        color: $blue;
        transition: color 0.5s, transform 0.5s;

        &:hover {
            color:red;
          }
    }

    &__description{
        font-size: 1.4rem;
        @include clip-text(4)
    }

    &__date{
        font-size: 1.4rem;
    }

    &__categorie-title{
        color: $blue;
        display: inline-block;
        border: 2px solid $blue;
        border-radius: 1rem;
        padding: 0rem 1rem;
        font-size: 1.1rem;
    }
}
