@use '../base/variables' as *; 
@use '../base/mixins' as *; 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 6.8rem;
    padding: 2rem 4rem;
    z-index: 1;
    box-shadow: 0.1rem .6rem .8rem rgba(131, 131, 131, 0.1);
    position: sticky;
    top: 0;


    &__logo {
        max-width: 20rem;
        height: auto;
    }

    &__nav-btn &__nav-btn-img{
        width: 2.5rem;
        height: 2.5rem;
        transition: transform 0.5s ease;
        transform: rotate(360deg);

        @include tablet {
            display: none;
        }
    }

    .rotate {
        transform: rotate(360deg); /* Esto hace que la imagen gire 360 grados */
    }

    .nav { 
        display: none;
        padding: 3rem 4rem;
        gap: 4rem;
        margin-right: 1rem;

        &--mobile {
            display: flex;
            flex-direction: column;
            position: fixed;
            left: 0;
            top: 6.8rem;
            transition: all 0.5s ease;
            height: calc(100vh - 6.8rem);
            width: 100%;
            background: $light-gray;
        }

        &__link {
            color: $dark; 
            display: inline-block;
            transition: color 0.3s, transform 0.3s;

            &--active {
                color: $blue;
            }

            &:hover {
                color: $blue;
                transform: scale(1.01);
            }

            @include tablet{
                font-weight: 600;
            }
        }

        @include tablet{
            display: flex;
        }
    }
}